[run]
branch = True
omit =
    tests/*
    */tests/*

[report]
skip_covered = True
fail_under=90
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError

[html]
directory = .reports/coverage
